{% extends 'base.html' %} {% block content %}
<h2>{{ page_title }}</h2>

<p>
    Pre-Instrumental Program
Research has shown that every baby is born with an innate musical ability. This must be nurtured as early as possible otherwise it will be lost. Use it or lose it!

Mini Music classes are recommended up to the age of 5 when the children progress to The School of Music, entering Pre-Instrumental 1 (Junior Infants) and moving on to Pre-Instrumental 2 the following year (Senior Infants). By this stage the child will have a knowledge of all the instruments of the orchestra. They will then be in a position to choose the one best suited to their own personal taste.
</p>


<p>
    Junior & Leaving Certificate Examinations
Churchtown School of Music offers classes for the written paper for Music in the Junior and Leaving Certificate state examinations. This has become very popular with students taking music as an extra subject - with results always much higher than the national average. Both Junior and Leaving Certificate courses are covered over two years.
</p>

<p>
    
    Instruments are taught on an one-to-one basis. Lessons are 30 minutes long up to Grade 5 and 45 minute lessons from Grade 6 upwards.

Singing and Guitar are also taught in small groups for 45 minutes.

Exams are offered in all instruments and the exam boards used are RIAM, Associated Board, Trinity Guildhall and Rockschool.

Ensemble groups are offered in Strings, Woodwind, Chamber Orchestra and Percussion. These will be offered the opportunity to perform at end of term concerts and other public events.

The content, aims and objectives of lessons will be discussed with the student and parent at the beginning of the year. Exams are recommended as a form of assessment but are not enforced. Students are encouraged to enjoy their instrument by whichever approach and style suits them best.
</p>
{% endblock %}