{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="{{ url_for ('classes')}}">
                <h2 class="post-title">
                    Now enrolling for September 2018
                </h2>
                <h3 class="post-subtitle">
                    Churchtown School of Music has a wide range of classes, suitable for all ages and levels, from beginner to advanced and everything in between!
                </h3>
            </a>
            <p>It is the mission of The Churchtown School of Music to provide quality education in Music in an environment that nurtures achievement and creativity.
Located in The Village Centre, Main Street, Dundrum, Dublin 14, CSM offers to all who attend, regardless of artistic and intellectual ability, the opportunity to pursue their own personal development and enrich the quality of their lives and the lives of the wider community.
For latest news, photos and videos, follow us on Facebook.</p>
        <hr>
        <!-- Pager -->
        <
    </div>
</div>
{% endblock %}